@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?47283148");
  src: url("../font/fontello.eot?47283148#iefix") format("embedded-opentype"), url("../font/fontello.woff2?47283148") format("woff2"), url("../font/fontello.woff?47283148") format("woff"), url("../font/fontello.ttf?47283148") format("truetype"), url("../font/fontello.svg?47283148#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?47283148#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-a:before {
  content: '\e800';
}

/* '' */
.icon-b:before {
  content: '\e801';
}

/* '' */
.icon-truck:before {
  content: '\e802';
}

/* '' */
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Black.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.otf");
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Gotham";
  margin: 0;
  padding: 0;
}

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.main-wrapper {
  width: 1530px;
  margin: 0 auto;
}

@media (max-width: 1530px) {
  .main-wrapper {
    width: 100%;
    padding: 0 10px;
  }
}

.main-wrapper header {
  padding: 25px 80px;
  background: #ea2423;
}

@media (max-width: 991px) {
  .main-wrapper header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    position: static;
  }
}

.main-wrapper header > div {
  width: 40%;
}

@media (max-width: 991px) {
  .main-wrapper header > div {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 480px) {
  .main-wrapper header > div {
    height: 255px;
  }
}

.main-wrapper header > div:nth-of-type(2) {
  width: auto;
}

@media (max-width: 991px) {
  .main-wrapper header > div:nth-of-type(2) {
    width: 50%;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

@media (max-width: 767px) {
  .main-wrapper header > div:nth-of-type(2) {
    width: 100%;
    height: auto;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

.main-wrapper header > div:nth-of-type(3) {
  width: 40%;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

@media (max-width: 991px) {
  .main-wrapper header > div:nth-of-type(3) {
    width: 50%;
    height: auto;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

@media (max-width: 767px) {
  .main-wrapper header > div:nth-of-type(3) {
    width: 100%;
    -ms-flex-pack: center;
        justify-content: center;
    padding-bottom: 30px;
  }
}

.main-wrapper header > div .clock-bg {
  position: relative;
}

@media (max-width: 991px) {
  .main-wrapper header > div .clock-bg {
    height: 100%;
  }
}

@media (max-width: 480px) {
  .main-wrapper header > div .clock-bg {
    width: 100%;
  }
}

.main-wrapper header > div .clock-bg .discount-day {
  color: #ffef3a;
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  z-index: 1;
  line-height: 46px;
}

@media (max-width: 1400px) {
  .main-wrapper header > div .clock-bg .discount-day {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (max-width: 1200px) {
  .main-wrapper header > div .clock-bg .discount-day {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  .main-wrapper header > div .clock-bg .discount-day {
    margin-top: 35px;
  }
}

.main-wrapper header > div .clock-bg .discount-day div {
  color: #ffffff;
}

.main-wrapper header > div .clock-bg .discount-day .photo-clock {
  width: 240px;
  height: 240px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1400px) {
  .main-wrapper header > div .clock-bg .discount-day .photo-clock {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 1200px) {
  .main-wrapper header > div .clock-bg .discount-day .photo-clock {
    width: 165px;
    height: 165px;
  }
}

.main-wrapper header > div .clock-bg .extra-text {
  font-weight: 300;
  padding: 25px 20px;
  background: #000;
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  right: 49px;
  bottom: 73px;
}

@media (max-width: 1400px) {
  .main-wrapper header > div .clock-bg .extra-text {
    font-size: 20px;
    right: 22px;
  }
}

@media (max-width: 1200px) {
  .main-wrapper header > div .clock-bg .extra-text {
    font-size: 18px;
    right: 25px;
    bottom: 50px;
    padding: 18px 15px;
  }
}

@media (max-width: 480px) {
  .main-wrapper header > div .clock-bg .extra-text {
    position: absolute;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0;
    bottom: initial;
    width: 200px;
  }
}

.main-wrapper header > div .clock-bg .extra-text strong {
  font-weight: 700;
  margin-right: 6px;
}

.main-wrapper header > div .clock-bg .extra-text:before {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 12px solid #000;
  border-right: 20px solid transparent;
}

@media (max-width: 480px) {
  .main-wrapper header > div .clock-bg .extra-text:before {
    display: none;
  }
}

.main-wrapper header > div .clock-bg .deliver-info {
  z-index: 1;
  background: #fff;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  bottom: -120px;
  right: 70px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

@media (max-width: 1400px) {
  .main-wrapper header > div .clock-bg .deliver-info {
    width: 100px;
    height: 100px;
    bottom: -95px;
    right: 40px;
  }
}

@media (max-width: 1200px) {
  .main-wrapper header > div .clock-bg .deliver-info {
    width: 90px;
    height: 90px;
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .main-wrapper header > div .clock-bg .deliver-info {
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 480px) {
  .main-wrapper header > div .clock-bg .deliver-info {
    left: initial;
    right: 0;
    bottom: -20px;
  }
}

.main-wrapper header > div .clock-bg .deliver-info > div i {
  color: #ea2423;
  font-size: 25px;
  position: relative;
  right: 5px;
}

.main-wrapper header > div .clock-bg .deliver-info > div div {
  text-transform: lowercase;
  color: #1a171c;
  font-size: 17px;
}

.main-wrapper header > div .discount .text {
  position: relative;
  top: 34px;
  font-size: 22px;
  color: #363337;
  font-weight: 300;
  left: 10px;
  text-transform: uppercase;
}

@media (max-width: 1400px) {
  .main-wrapper header > div .discount .text {
    font-size: 18px;
    top: 26px;
  }
}

@media (max-width: 1200px) {
  .main-wrapper header > div .discount .text {
    font-size: 16px;
  }
}

.main-wrapper header > div .discount .number {
  display: -ms-flexbox;
  display: flex;
  font-size: 185px;
  color: #ffef3a;
  font-weight: 300;
}

@media (max-width: 1400px) {
  .main-wrapper header > div .discount .number {
    font-size: 160px;
  }
}

@media (max-width: 1400px) {
  .main-wrapper header > div .discount .number {
    font-size: 140px;
  }
}

.main-wrapper header > div .discount .number div {
  position: relative;
  top: 20px;
  font-size: 109px;
}

@media (max-width: 1400px) {
  .main-wrapper header > div .discount .number div {
    font-size: 95px;
  }
}

@media (max-width: 1200px) {
  .main-wrapper header > div .discount .number div {
    font-size: 75px;
  }
}

.main-wrapper header > div .timer {
  padding: 30px 10px;
  border: 3px solid #fff;
  margin-left: 15px;
}

@media (max-width: 991px) {
  .main-wrapper header > div .timer {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .main-wrapper header > div .timer {
    border: none;
    padding: 0;
  }
}

.main-wrapper header > div .timer .text-time {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

.main-wrapper header > div .timer .time {
  -ms-flex-align: start;
      align-items: flex-start;
}

.main-wrapper header > div .timer .time .divider {
  color: #fff;
  font-size: 54px;
  padding: 0 5px;
  position: relative;
  bottom: 3px;
}

@media (max-width: 1400px) {
  .main-wrapper header > div .timer .time .divider {
    font-size: 45px;
  }
}

@media (max-width: 1200px) {
  .main-wrapper header > div .timer .time .divider {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .main-wrapper header > div .timer .time .divider {
    font-size: 45px;
  }
}

@media (max-width: 480px) {
  .main-wrapper header > div .timer .time .divider {
    font-size: 35px;
  }
}

.main-wrapper header > div .timer .time .inner-timer {
  font-size: 54px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  width: 95px;
}

@media (max-width: 1400px) {
  .main-wrapper header > div .timer .time .inner-timer {
    font-size: 45px;
    width: 75px;
  }
}

@media (max-width: 1200px) {
  .main-wrapper header > div .timer .time .inner-timer {
    font-size: 35px;
    width: 55px;
  }
}

@media (max-width: 767px) {
  .main-wrapper header > div .timer .time .inner-timer {
    font-size: 45px;
    width: 75px;
  }
}

@media (max-width: 480px) {
  .main-wrapper header > div .timer .time .inner-timer {
    font-size: 35px;
    width: 55px;
  }
}

.main-wrapper header > div .timer .time .inner-timer .value {
  height: 54px;
}

@media (max-width: 1200px) {
  .main-wrapper header > div .timer .time .inner-timer .value {
    height: 40px;
  }
}

@media (max-width: 767px) {
  .main-wrapper header > div .timer .time .inner-timer .value {
    height: 54px;
  }
}

@media (max-width: 480px) {
  .main-wrapper header > div .timer .time .inner-timer .value {
    height: 40px;
  }
}

.main-wrapper header > div .timer .time .inner-timer .small-text {
  margin-top: 10px;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #2c2423;
}

@media (max-width: 1400px) {
  .main-wrapper header > div .timer .time .inner-timer .small-text {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .main-wrapper header > div .timer .time .inner-timer .small-text {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .main-wrapper header > div .timer .time .inner-timer .small-text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .main-wrapper header > div .timer .time .inner-timer .small-text {
    font-size: 14px;
  }
}

.main-wrapper .top-bar {
  margin: 40px 0;
}

@media (max-width: 991px) {
  .main-wrapper .top-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-wrapper .top-bar .left-side {
  width: 40%;
  -ms-flex-pack: left;
      justify-content: left;
}

@media (max-width: 991px) {
  .main-wrapper .top-bar .left-side {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    right: 8px;
  }
}

.main-wrapper .top-bar .left-side i {
  position: relative;
  bottom: 3px;
  color: #ea2423;
  font-size: 30px;
}

.main-wrapper .top-bar .left-side div {
  color: #1a171b;
  font-size: 20px;
  text-transform: uppercase;
}

.main-wrapper .top-bar .left-side div strong {
  font-weight: 800;
}

.main-wrapper .top-bar .more-less-btns {
  width: 20%;
}

@media (max-width: 991px) {
  .main-wrapper .top-bar .more-less-btns {
    width: 100%;
    -ms-flex-order: 3;
        order: 3;
    margin-top: 30px;
  }
}

.main-wrapper .top-bar .more-less-btns .change-limit {
  height: 35px;
  width: 35px;
  border: 1px solid #000;
  margin: 0 10px;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.main-wrapper .top-bar .more-less-btns .change-limit.active, .main-wrapper .top-bar .more-less-btns .change-limit:hover {
  background: #000;
  color: #fff;
}

.main-wrapper .top-bar .right-side {
  width: 40%;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

@media (max-width: 991px) {
  .main-wrapper .top-bar .right-side {
    width: 100%;
    -ms-flex-pack: left;
        justify-content: left;
  }
}

.main-wrapper .top-bar .right-side .icon {
  width: 26px;
  height: 26px;
  background: #ea2423;
  color: #fff;
  border-radius: 50%;
  margin-right: 12px;
}

.main-wrapper .top-bar .right-side div {
  font-size: 14px;
  font-weight: 400;
}

.main-wrapper .row {
  -ms-flex-pack: normal;
      justify-content: normal;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
  -ms-flex-align: normal;
      align-items: normal;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  display: none;
}

@media (max-width: 767px) {
  .main-wrapper .row {
    margin: 0 -5px;
  }
}

@media (max-width: 480px) {
  .main-wrapper .row {
    margin: 0 -3px;
  }
}

.main-wrapper .row.active {
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-wrapper .row > div {
  text-decoration: none;
  width: 25%;
  padding: 10px;
}

@media (max-width: 1200px) {
  .main-wrapper .row > div {
    width: 33.333%;
  }
}

@media (max-width: 767px) {
  .main-wrapper .row > div {
    width: 50%;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .main-wrapper .row > div {
    padding: 3px;
  }
}

.main-wrapper .row > div .inner-box {
  border: 1px solid #ebebeb;
  text-decoration: none;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  transition: all .2s ease-in-out;
  position: relative;
  outline: none;
}

.main-wrapper .row > div .inner-box:after {
  z-index: 3;
  white-space: nowrap;
  content: "Zobacz więcej";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  padding: 20px 30px;
  background: #ea2423;
  opacity: 0;
  transition: all .2s ease-in-out;
}

@media (max-width: 480px) {
  .main-wrapper .row > div .inner-box:after {
    font-size: 14px;
    padding: 15px;
  }
}

.main-wrapper .row > div .inner-box:before {
  content: "";
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
  opacity: 0;
  transition: all .2s ease-in-out;
}

.main-wrapper .row > div .inner-box:hover {
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.main-wrapper .row > div .inner-box:hover:after, .main-wrapper .row > div .inner-box:hover:before {
  opacity: 1;
}

.main-wrapper .row > div .inner-box .top {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 991px) {
  .main-wrapper .row > div .inner-box .top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-wrapper .row > div .inner-box .top .quantity {
  color: #000;
  padding-left: 10px;
}

@media (max-width: 991px) {
  .main-wrapper .row > div .inner-box .top .quantity {
    width: 100%;
    -ms-flex-order: 2;
        order: 2;
    padding: 10px 0;
  }
}

.main-wrapper .row > div .inner-box .top .quantity i {
  position: relative;
  bottom: 2px;
  margin-right: 5px;
  font-size: 18px;
}

@media (max-width: 480px) {
  .main-wrapper .row > div .inner-box .top .quantity i {
    font-size: 16px;
  }
}

.main-wrapper .row > div .inner-box .top .quantity div {
  font-size: 13px;
}

@media (max-width: 480px) {
  .main-wrapper .row > div .inner-box .top .quantity div {
    font-size: 12px;
  }
}

.main-wrapper .row > div .inner-box .top .save-money {
  border: 1px solid #ff0000;
  padding: 0 10px;
  height: 40px;
  color: #ff0000;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 991px) {
  .main-wrapper .row > div .inner-box .top .save-money {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .main-wrapper .row > div .inner-box .top .save-money {
    font-size: 12px;
  }
}

.main-wrapper .row > div .inner-box .top .save-money strong {
  font-weight: 800;
  margin-left: 5px;
}

.main-wrapper .row > div .inner-box .photo {
  margin: 75px auto;
  height: 140px;
  width: 300px;
  position: relative;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

@media (max-width: 991px) {
  .main-wrapper .row > div .inner-box .photo {
    margin: 35px auto;
  }
}

@media (max-width: 767px) {
  .main-wrapper .row > div .inner-box .photo {
    margin: 50px auto;
  }
}

@media (max-width: 480px) {
  .main-wrapper .row > div .inner-box .photo {
    margin: 0 auto;
  }
}

.main-wrapper .row > div .inner-box .photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
}

.main-wrapper .row > div .inner-box .bottom {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 15px;
}

@media (max-width: 480px) {
  .main-wrapper .row > div .inner-box .bottom {
    font-size: 16px;
    padding: 10px;
  }
}

.main-wrapper .row > div .inner-box .bottom .price {
  -ms-flex-pack: normal;
      justify-content: normal;
  margin-bottom: 15px;
}

.main-wrapper .row > div .inner-box .bottom .price .current {
  color: #ff0000;
  font-weight: 600;
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 480px) {
  .main-wrapper .row > div .inner-box .bottom .price .current {
    font-size: 14px;
  }
}

.main-wrapper .row > div .inner-box .bottom .price .old {
  font-size: 14px;
  color: #1a171b;
  position: relative;
}

@media (max-width: 480px) {
  .main-wrapper .row > div .inner-box .bottom .price .old {
    font-size: 11px;
  }
}

.main-wrapper .row > div .inner-box .bottom .price .old:before {
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #838383;
}

.main-wrapper .row > div .inner-box .bottom .info-text {
  color: #000;
  margin-bottom: 5px;
  font-size: 13px;
}

@media (max-width: 480px) {
  .main-wrapper .row > div .inner-box .bottom .info-text {
    font-size: 12px;
  }
}

.main-wrapper .row > div .inner-box .bottom .brand {
  font-size: 13px;
  color: #9f9f9f;
}

@media (max-width: 480px) {
  .main-wrapper .row > div .inner-box .bottom .brand {
    font-size: 12px;
  }
}
