@font-face {
    font-family: "Gotham Book";
    src: url('../fonts/Gotham-Book.otf');
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Black";
    src: url('../fonts/Gotham-Black.otf');
    font-weight: 900;
}

@font-face {
    font-family: "Gotham Light";
    src: url('../fonts/Gotham-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: "Gotham Bold";
    src: url('../fonts/Gotham-Bold.otf');
    font-weight: 800;
}

@import '../vendor/fontello';
@import 'global';